body {
    padding: 4%;
    background-image: url("../images/background-images/simone-hutsch-8p6pdSkA-6A-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
nav {
    font-size: 85%;
    border-radius: 25px;
}

.jumbotron {
    text-align: center;
    /* border: 1px solid;
    border-width: thick; */
    background-color: lightyellow;
    background-color: transparent;
}

.display-4 {
    border-radius: 25px;    
}

.card {
    margin: 2%;
    text-align: center;
    border-radius: 25px;
    background-color:lightcyan;
}

img {
    height: 200px;
    object-fit: cover;
}

.card-img-top {
    border-radius: 25px 25px 0px 0px;
}

.card-header {
    height: 75px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;
    background-color: lightyellow;
}

.overview {
    width:75%;
    font-size: 225%;
}

.professional-work-history {
    background-color: darkgreen;
}

.technical-work {
    background-color: darkblue;
}

.technical-work-video-tutorials {
    background-color: darkblue;
}

.technical-work-blog-posts {
    background-color: darkblue;
}

.non-technical-work {
    background-color: darkred;
}

.technical-education {
    background-color: darkblue;
}

.non-technical-education {
    background-color: darkred;
}

.interests {
    background-color: darkslateblue;
}

.card-title {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    height: 300px;
}

.about-section {
    padding: 3%;
    border-radius: 25px;
    /* border: 1px solid;
    border-width: thick; */
    background-color:lightcyan;
}

b {
    font-weight: 600;
}

div {
    margin: auto;
}

a {
    color: gold;
}

h1 {
    padding: 1%;
    margin: auto;
    width: fit-content;
    font-size: 300%;
    text-align: center;
    border-radius: 25px;
    background-color: lightyellow;
}

.category-heading {
    padding: 1%;
    /* border-top: 1px solid;
    border-bottom: 1px solid; */
    border-width: thick;
    background-color: lightyellow;
}

h2 {
    padding: 1%;
    margin: auto;
    width: fit-content;
    font-size: 250%;
    text-align: center;
    /* border-top: 1px solid;
    border-bottom: 1px solid;
    border-width: thick; */
    border-radius: 25px;
    color: yellow;
    background-color: blueviolet;
}

h3 {
    padding: 1%;
    margin: auto;
    width: fit-content;
    text-align: center;
    border-radius: 0px 0px 25px 25px;
    background-color:lightcyan;
}

h3 a {
    color: darkblue;
}

.social-media-profiles, .software-work-portfolios, .hardware-work-portfolios, .business-work-portfolios {
    padding: 3%;
    border-radius: 25px;
    /* border: 1px solid;
    border-width: thick; */
    background-color: lightcyan;
}