body {
    padding: 4%;
    background-image: url("../images/background-images/simone-hutsch-8p6pdSkA-6A-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: large;
}
nav {
    font-size: 85%;
    border-radius: 25px;
    text-align: center;
}

.jumbotron {
    text-align: center;
    /* border: 1px solid;
    border-width: thick; */
    background-color: lightyellow;
    background-color: transparent;
}

.hero-image {
    height: fit-content;
    width: 100%;
    display: block;
    /* margin-top: 2%; */
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
}

.display-4 {
    border-radius: 25px;    
}

.color-box {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    margin: 1%;
    padding: 3%;
    border-radius: 25px;
    color: yellow;
}

.card {
    margin: 2%;
    text-align: center;
    border-radius: 25px;
    background-color:lightcyan;
}

.card-body {
    width: 100%;
    border-radius: 0px 0px 25px 25px;
}

.tier-1-color {
    background-color:darkred;
}

.tier-2-color {
    background-color: darkgreen;
}

.tier-3-color {
    background-color: darkcyan;
}

.tier-4-color {
    background-color: darkmagenta;
}

.tier-5-color {
    background-color:darkslateblue;
}

img {
    height: 200px;
    object-fit: cover;
}

.card-img-top {
    border-radius: 25px 25px 0px 0px;
}

.card-header {
    height: 150px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125%;
    background-color: lightyellow;
}

.overview {
    width:75%;
    font-size: 225%;
}

.professional-work-history {
    background-color:mediumslateblue;
}

.technical-education-and-work {
    background-color: mediumblue;
}

.technical-education-and-work-video-tutorials {
    background-color: mediumblue;
}

.technical-education-and-work-blog-posts {
    background-color: mediumblue;
}

.non-technical-education-and-work {
    background-color:mediumseagreen;
}

.interests {
    background-color: mediumvioletred;
}

.card-title {
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    height: 400px;
}

.about-section {
    padding: 3%;
    border-radius: 25px;
    /* border: 1px solid;
    border-width: thick; */
    background-color:lightcyan;
}

b {
    font-weight: 600;
}

div {
    margin: auto;
}

a {
    color: yellow;
}

h1 {
    padding: 3%;
    margin: auto;
    width: fit-content;
    font-size: 300%;
    text-align: center;
    border-radius: 25px;
    background-color: lightyellow;
}

.category-heading {
    padding: 3%;
    /* border-top: 1px solid;
    border-bottom: 1px solid; */
    border-width: thick;
    background-color: lightyellow;
}

h2, h3 {
    padding: 3%;
    margin: auto;
    width: fit-content;
    font-size: 250%;
    text-align: center;
    /* border-top: 1px solid;
    border-bottom: 1px solid;
    border-width: thick; */
    border-radius: 25px;
    color: yellow;
    background-color: darkblue;
}

h6 {
    padding: 3%;
    margin: auto;
    width: fit-content;
    text-align: center;
    border-radius: 0px 0px 25px 25px;
    background-color:lightyellow;
}

h6 a {
    color: darkblue;
}

.social-media-profiles, .software-education-and-work-category, .hardware-education-and-work-category, .multimedia-production-portfolios, .skilled-trades-portfolios, .performance-arts-portfolios, .business-education-and-work-category, .academic-education-and-work-category, .personal-development-education-and-work-category, .interests-education-and-work-category {
    padding: 3%;
    border-radius: 25px;
    /* border: 1px solid;
    border-width: thick; */
    background-color: lightcyan;
    background-image: url("../images/background-images/efe-kurnaz-RnCPiXixooY-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}