/* Color palette: https://colorhunt.co/palette/17223b2638596b778dff6768 */

body {
    margin: 3%;
    background-image: url("../images/background-images/simone-hutsch-8p6pdSkA-6A-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    font-size: large;
}
nav {
    font-size: 85%;
    border: 25px solid;
    border-color: #FF6768;
    border-radius: 25px;
    text-align: center;
    background-color: #0F4C75;
    z-index: 99999;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

#navigation-bar a {
    color: white;
}

.jumbotron {
    /* border: 1px solid;
    border-width: thick; */
    /* background-color: lightyellow; */
    background-color: transparent;
}

.container {
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

#hero-image {
    height: fit-content;
    width: 100%;
    display: block;
    /* margin-top: 2%; */
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    border: 25px solid;
    border-color: #FF6768;
    border-radius: 25px;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

#about-section {
    text-align: center;
    padding: 3%;
    border: 25px solid;
    border-color: #FF6768;
    border-radius: 25px;
    /* border: 1px solid;
    border-width: thick; */
    color: white;
    background-color: #263859;
    background-image: linear-gradient(
        var(--rotate)
        , #5ddcff, #3c67e3 43%, #4e00c2);
        z-index: -1;
        animation: spin 2.5s linear infinite;
        padding: 2%;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

.lead {
    padding: 2%;
    background-color: #17223B;
    border-radius: 25px;
    
}

#work-history-video-or-image, #software-development-education-and-work-video-or-image, #hardware-development-education-and-work-video-or-image, #skilled-trades-education-and-work-video-or-image, #multimedia-production-education-and-work-video-or-image, #performance-arts-education-and-work-video-or-image, #business-development-education-and-work-video-or-image, #academic-development-history-and-pursuits-video-or-image, #personal-development-history-and-pursuits-video-or-image, #personal-interests-video-or-image {
    /* height: 650px; */
    height: auto;
    width: 100%;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;
    border: 25px solid;
    border-color: #FF6768;
    border-radius: 25px;
}


.display-4 {
    border-radius: 25px;    
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.card {
    margin: 2%;
    text-align: center;
    /* border: 25px solid;
    border-color: #6B778D; */
    border-radius: 25px;
    background-color: #FF6768;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

.overview-card {
    border: 25px solid;
    border-color: #FF6768;
    border-radius: 25px;
    background-color: #FF6768;
    background-image: linear-gradient(
        var(--rotate)
        , #5ddcff, #3c67e3 43%, #4e00c2);
        animation: spin 2.5s linear infinite;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.card-header {
    height: 150px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 125%;
    /* background-color: #FF6768; */
}

.card-title {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    height: 750px;
}

.card-body {
    width: 100%;
    border-radius: 0px 0px 25px 25px;
    color: white;
    background-color: #263859;
}

.quote-body {
    border-radius: 0px 0px 0px 0px;
}

.gif {
    height: 300px;
    width: 300px;
    margin-top: 250px;
}

.right-gif {
    position: absolute;
    right: 2%;
}

.skillsets {
    border-radius: 0px 0px 0px 0px;
}

/* .card:hover {
    border-color: darkblue;
} */

.card-body:hover {
    background-color: #3282B8;
}

#color-legend {
    background-image: url("../images/background-images/daniel-olah-VS_kFx4yF5g-unsplash.jpg");
}

#color-legend .card-body {
    background-color: transparent;
}

.div-border {
    border: 25px solid;
    border-color: #FF6768;
}

.color-box, .logo-box {
    display: inline-block;
    height: fit-content;
    width: fit-content;
    margin: 1%;
    padding: 3%;
    border-radius: 25px;
    color: yellow;
}

.card .logo-box {
    background-color: #FF6768;
}

.logo-box img{
    height: 75px;
}

.logo-box:hover {
    background-color: #BBE1FA;
}

.tier-1-color {
    background-color: #1A1A2E;
}

.tier-2-color {
    background-color: #16213E;
}

.tier-3-color {
    background-color: #0F3460;
}

.tier-4-color {
    background-color: #E94560;
}

.tier-5-color {
    background-color: #9067ff;
}

.tier-1-color-border {
    border: 25px solid;
    border-color: #1A1A2E;
}

.tier-2-color-border {
    border: 25px solid;
    border-color: #16213E;
}

.tier-3-color-border {
    border: 25px solid;
    border-color: #0F3460;
}

.tier-4-color-border {
    border: 25px solid;
    border-color: #E94560;
}

.tier-5-color-border {
    border: 25px solid;
    border-color: #9067ff;
}

img {
    height: 200px;
    object-fit: cover;
}

.section-divider {
    height: 100px;
    width: 100%;
    border: 25px solid;
    border-color: #FF6768;
    border-radius: 25px;
}

.overview {
    width:75%;
    font-size: 165%;
    color: white;
    background-color: #17223B;
    border-bottom: 25px solid;
    border-left: 25px solid;
    border-right: 25px solid;
    border-color: #FF6768;
    /* border-radius: 0px 0px 25px 25px; */
}

blockquote p {
    font-size: 125%;
}

.quote {
    background-color: #17223B;
}

.quote-body {
    background-color: #263859;
}

/* .quote-body p {
    font-size: 150%;
} */

#professional-work-history {
    background-color:#7952B3;
}

.technical-education-and-work {
    background-color: #11468F;
}

#technical-education-and-work-video-tutorials {
    background-color: #11468F;
}

#technical-education-and-work-blog-posts {
    background-color: #11468F;
}

.non-technical-education-and-work {
    background-color:#DA1212;
}

.interests {
    background-color: #29A19C;
}

b {
    font-weight: 600;
}

div {
    margin: auto;
}

a {
    color: yellow;
}

h1 {
    padding: 3%;
    margin: auto;
    width: 100%;
    font-size: 300%;
    text-align: center;
    border: 25px solid;
    border-color: #FF6768;
    border-radius: 25px;
    color: white;
    background-color: #17223B;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

h2, h3 {
    padding: 3%;
    margin: auto;
    width: 100%;
    font-size: 200%;
    text-align: center;
    /* border-top: 1px solid;
    border-bottom: 1px solid;
    border-width: thick; */
    border: 25px solid;
    border-color: #FF6768;
    border-radius: 25px;
    color: white;
    background-color: #263859;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

h6 {
    padding: 3%;
    margin: auto;
    width: fit-content;
    text-align: center;
    border-bottom: 25px solid;
    border-left: 25px solid;
    border-right: 25px solid;
    border-color: #FF6768;
    border-radius: 0px 0px 25px 25px;
    color: white;
    background-color: #263859;
}

h6 a {
    color: white;
}

#landscape-orientation {
    color: black;
    text-align: center;
    background-color: lightgoldenrodyellow;
    width: 100%;
    border: 25px solid;
    border-color: lightgoldenrodyellow;
    border-radius: 25px 25px 25px 25px;
}

#social-media-profiles, #work-history-category, #software-education-and-work-category, #hardware-education-and-work-category, #multimedia-production-portfolios, #skilled-trades-portfolios, #performance-arts-portfolios, #business-education-and-work-category, #academic-education-and-work-category, #personal-development-education-and-work-category, #interests-education-and-work-category {
    padding: 3%;
    border: 25px solid;
    border-color: #FF6768;
    border-radius: 25px;
    /* border: 1px solid;
    border-width: thick; */
    background-color: darkblue;
    background-image: url("../images/background-images/efe-kurnaz-RnCPiXixooY-unsplash.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.gif {
    border-bottom: 25px solid;
    border-radius: 25px 25px 25px 25px;
    background-image: linear-gradient(
        var(--rotate)
        , #5ddcff, #3c67e3 43%, #4e00c2);
        z-index: -1;
        animation: spin 2.5s linear infinite;
        padding: 2%;
    box-shadow:
        inset 0 0 50px #fff,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}

/* @media screen and (orientation:portrait) {
    html {
        transform: rotate(-90deg);
        transform-origin: left top;
    }
} */